/* <-------------------------------Home Start---------------------------> */
/* <-------------------------------Home Start---------------------------> */
.container-home {
  min-height: 100vh;
  background: rgb(200, 194, 160);
  background: radial-gradient(
    circle,
    rgba(200, 194, 160, 1) 0%,
    rgba(245, 244, 238, 1) 42%,
    rgba(254, 254, 253, 1) 68%,
    rgba(255, 255, 255, 1) 78%
  );
  margin-top: -4rem;
}

.detail-home {
  margin-top: 100rem;
}

.detail-home a {
  border: 1px solid rgb(180, 171, 124);
  text-decoration: none;
  padding: 0.5rem 2rem;
  color: rgb(180, 171, 124);
  background-color: white;
  border-radius: 50rem;
  margin-left: -12rem;
  transition: background 0.3s ease;
}

.detail-home a:hover {
  border: 1px solid white;
  background: rgb(200, 194, 160);
  color: white;
}

.detail-home h1 {
  font-family: "Prata", serif;
  font-size: 5rem;
  text-align: left;
  margin-left: 10rem;
}

.detail-home .logo-home {
  margin-left: 40rem;
}

.image-girl img {
  width: 90%;
  margin-right: 2rem;
}

.image-girl {
  align-items: end;
  display: flex;
  height: 100vh;
}

.teks-left {
  margin-left: 20rem;
  z-index: 2000;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  .container-home {
    margin-top: 10;
  }

  .detail-home {
    margin-top: 10rem;
    flex-direction: column;
    align-items: center;
  }

  .detail-home h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 10rem;
    margin-left: 0;
  }

  .detail-home .logo-home {
    margin-left: 0;
    display: block;
    margin: 50px auto;
    width: 50%;
  }

  .detail-home a {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 30%;
    margin: 0 auto;
  }

  .image-girl img {
    width: 100%;
  }

  .image-girl {
    height: auto;
  }

  .teks-left {
    margin-left: 0;
    padding: 1rem;
    text-align: center;
  }

  /* Ensure text is displayed above the image */
  .teks-left {
    order: 1;
  }

  .image-girl {
    order: 2;
  }
}

/* Media Query for Screen 430px */
@media only screen and (max-width: 430px) {
  .detail-home h1 {
    font-size: 2rem;
    text-align: center;
    margin-right: -5rem;
  }

  .logo-home {
    width: 100px !important;
    margin: 3rem;
  }
}

/* Media Query for Screen 1366px */
@media only screen and (max-width: 1366px) {
  .detail-home h1 {
    margin-left: -5rem;
  }

  .detail-home .logo-home {
    margin-left: 10rem;
    width: 50%;
  }
}

/* Media Query for 2K Screens */
@media only screen and (min-width: 2560px) {
  .detail-home h1 {
    font-size: 7rem;
    margin-left: 15rem;
  }

  .detail-home .logo-home {
    margin-left: 50rem;
    width: 70%;
  }

  .detail-home a {
    padding: 1rem 3rem;
    font-size: 1.5rem;
  }
}

/* <--------------------------------Home End---------------------------> */

/* <---------------------------Product Start---------------------------> */
.product-card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan untuk kesan lebih menonjol */
  overflow: hidden;
  background-color: white; /* Warna latar belakang kartu */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-card:hover {
  transform: translateY(-10px); /* Kartu naik sedikit saat di-hover */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}
.product-card .card-body {
  padding: 20px; /* Padding di dalam card */
  text-align: center;
}
.product-card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  height: 200px;
}
.product-card h5 {
  margin-bottom: 10px;
  font-size: 1.25rem;
  color: #ff0000;
}
.product-card .detail-produk {
  background-color: rgb(180, 171, 124);
  padding: 15px;
  text-align: center;
  transition: background-color 0.3s ease;
}
.container-product::-webkit-scrollbar {
  display: none; /* Hapus scrollbar */
}
.container-product .card-text {
  color: rgb(180, 171, 124);
}
@media only screen and (max-width: 768px) {
  .product-card {
  }
}

/* Media Query for Screen 430px */
@media only screen and (max-width: 430px) {
  .product-card {
    width: 10px;
    max-width: 200px;
    max-height: 400px;
  }
  .product-card .card-img-top {
    max-width: 100%;
    max-height: 130px;
    max-height: 170px;
    min-height: 130px;
    margin-bottom: 0;
  }
  .product-card .card-body h5 {
    font-size: 0.9rem;
  }
  .product-card .card-body {
    max-height: 200px;
  }
  .product-card .card-body .card-title {
    font-size: 0.9rem;
  }
  .product-card .card-body .card-text {
    margin-bottom: -1rem;
  }

  .product-card .custom-detail-produk {
    margin-top: 2rem;
  }
}
/* Media Query for Screen 1366px */
@media only screen and (max-width: 1366px) {
}

/* Media Query for 2K Screens */
@media only screen and (min-width: 2560px) {
}

/* <---------------------------Product End---------------------------> */

/* <---------------------------About Start---------------------------> */
.container-about {
  padding-top: 5rem;
  width: 70%;
  margin: 0 auto;
}
.container-about .text {
  text-align: left;
  margin-top: 10%;
  margin-left: -4rem;
}
.container-about .text p {
  font-size: 1.2rem;
  width: 80%;
}
.container-about .text h1 {
  font-family: "Prata", serif;
}
@media only screen and (max-width: 768px) {
  .container-about img {
    width: 20rem;
  }
  .container-about .text {
    text-align: center;
    margin-left: 0;
    display: inline;
  }
  .container-about p {
    width: 100%;
    margin: 0 auto;
  }
  .container-about {
    width: 90%;
  }
  .container-about hr {
    margin: 0 auto;
  }
  .container-about {
    display: block;
  }
  .row {
    flex-direction: column; /* Ubah arah tata letak menjadi kolom */
  }

  .col {
    width: 100%; /* Pastikan kolom mengisi lebar penuh */
    margin-bottom: 20px; /* Jarak antara kolom di layar kecil */
  }
}
@media only screen and (max-width: 430px) {
  .container-about .text p {
    font-size: 0.8rem;
  }
  .container-about img {
    width: 10rem;
  }
  .container-about .text {
    margin-left: 0rem;
  }
}
@media only screen and (max-width: 1366px) {
  .container-about .text {
    margin-left: 0rem;
  }
}
@media only screen and (max-width: 1440px) {
  .container-about .text {
    margin-left: 0rem;
  }
}
/* <---------------------------About End---------------------------> */

/* <---------------------------Mail Start---------------------------> */
.container-mail {
  margin-top: 5%;
}

.container-mail .image-container {
  position: relative;
  display: inline-block;
  background-size: cover; /* Mengatur kontainer sesuai ukuran gambar */
}
.container-mail .image-container img {
  border-radius: 20px;
}
.container-mail .image-girl {
  display: block;
  width: 100%; /* Atur sesuai keperluan */
  height: auto;
}

.container-mail .overlay-content {
  position: absolute;
  top: 50%; /* Posisikan di tengah secara vertikal */
  left: 50%; /* Posisikan di tengah secara horizontal */
  transform: translate(-50%, -50%); /* Pusatkan dengan transformasi */
  color: white; /* Atur warna teks */
  text-align: center;
}
.container-mail .input-form {
  border-radius: 50px 50px 0px 50px;
  border: none;
  padding: 0.4rem;
  padding-left: 2rem;
  width: 100%;
}
.container-mail .input-form:focus {
  outline: none;
}
.container-mail h2 {
  font-family: "Prata", serif;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .container-mail .image-container img {
    width: 90%;
    margin: 0 auto;
    height: 20rem;
  }
}
@media only screen and (max-width: 430px) {
  .container-mail .image-container p {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 375px) {
  .container-mail .image-container p {
    font-size: 0rem;
  }
  .container-mail .input-form {
    width: 80%;
  }
}
/* <--------------------------Mmail End---------------------------> */
/* <---------------------------Categories Start---------------------------> */

.container-categories {
  margin-top: 5%;
}

.container-categories .main {
  background-color: #282828;
  color: white;
  text-align: left;
}

.container-categories .main h3 {
  margin-bottom: 2rem;
}

.container-categories .detail {
  background: rgb(219, 202, 170);
  background: linear-gradient(
    90deg,
    rgba(219, 202, 170, 1) 16%,
    rgba(206, 187, 150, 1) 33%,
    rgba(173, 156, 123, 1) 71%,
    rgba(176, 158, 124, 1) 100%
  );
}

.container-categories .main ul {
  padding-left: 0;
  width: 100%;
}

.container-categories .main ul li {
  list-style-type: none;
  display: flex;
  justify-content: start;
  margin-left: 10rem;
}

.container-categories .main ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-categories .main ul li a i {
  font-size: 2rem;
  font-weight: 600;
  border: 2px solid white;
  padding: 1rem;
  min-width: 70px;
  max-width: 70px;
  text-align: center;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.container-categories .main ul li a span {
  margin-left: 5%;
}

.container-categories .main ul li a i:hover {
  background-color: #e0dbbe;
  transform: rotate(-15deg);
}

.container-categories .detail .carousel {
  margin: auto;
}

.col.detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  width: 100%;
  padding-bottom: 3rem;
}

.container-categories .detail .carousel .container h3 {
  margin-top: -1rem;
}
.container-categories .detail a {
  background-color: #282828;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 14rem;
}
.container-categories .detail a:hover {
  background-color: white;
  color: #282828;
  border: 1px solid #282828;
}
@media (max-width: 768px) {
  .container-categories {
    margin-top: 5rem;
  }

  .container-categories .main,
  .container-categories .detail {
    text-align: center;
    max-width: 100%;
  }

  .container-categories .main ul {
    margin-top: 2rem;
  }

  .container-categories .main ul li a {
    justify-content: center;
    font-size: 0px;
    margin-left: 2rem;
  }
  .container-categories .main ul li {
    margin-left: 0;
  }
  .container-categories .detail .carousel .container h3 {
    margin-top: 0;
  }
  .container-categories .detail {
    padding-top: 5rem;
  }
}
@media only screen and (max-width: 768px) {
  .container-categories .main ul li {
    justify-content: start;
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 430px) {
  .container-categories .main ul li {
    justify-content: start;
    margin-left: -1rem;
  }
}
@media only screen and (max-width: 375px) {
  .container-categories .main ul li {
    justify-content: start;
    margin-left: -1.5rem;
  }
}
@media only screen and (max-width: 320px) {
  .container-categories .main ul li {
    justify-content: start;
    margin-left: -1.8rem;
  }
}
/* <---------------------------Categories End ---------------------------> */
