.image-small-detail {
  border-radius: 5px;
  transition: border 0.3s ease;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.image-small-detail:hover:active {
  border: 2px solid rgb(150, 138, 80);
}

.image-big {
  border: 1px solid rgb(180, 171, 124);
  border-radius: 10px;
  transition: border 0s ease;
}
.image-big-detail {
  border-radius: 5px;
  transition: border 0.3s ease;
  height: 30rem;
  object-fit: cover; /* Menjaga rasio gambar */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .image-small {
  }

  .image-big {
    margin-top: 15px;
  }
}

.container-info-product {
  width: 80%;
  margin: 5rem auto;
}
.accordion-item {
  border: none;
  border-bottom: 1px solid rgb(150, 138, 80);
}
.accordion-button:hover {
  background-color: none;
  color: black;
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #000;
  border: none;
}
.price-info a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 5px;
  transition: background 0.3s ease;
}
.price-info .tokopedia {
  border: 1px solid rgb(0, 170, 91);
  color: rgb(0, 170, 91);
}
.price-info .shopee {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(194, 56, 28);
  color: rgb(194, 56, 28);
}
.price-info .tokopedia:hover {
  background-color: rgb(2, 131, 71);
  color: white;
}
.price-info .shopee:hover {
  background-color: rgb(194, 56, 28);
  color: white;
}
.price-info .shopee img {
  width: 30px;
  margin-left: -0.5rem;
  margin-top: -0.4rem;
}
.price-info .tokopedia img {
  width: 30px;
  margin-left: -0.5rem;
  margin-top: -0.3rem;
}
.bagikan-produk {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Jika ingin vertikal rata */
}
.bagikan-produk span {
  font-size: 1.5rem;
}

/* BUNDLING */
/* Sembunyikan scrollbar di Chrome, Safari, dan Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Sembunyikan scrollbar di IE, Edge, dan Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.info-detail-bundling .isi-product-card img {
  width: 120px;
  height: 120px;
  border: 1px solid rgb(150, 138, 80);
  border-radius: 5px;
  object-fit: cover;
}
.info-detail-bundling .isi-product-card .information-bundling {
  gap: 0px;
  line-height: 5px;
  margin-top: 20px;
  margin-left: 2rem;
}
.info-detail-bundling .isi-product-card .information-bundling .product-price {
  padding-bottom: 1rem;
}
.info-detail-bundling
  .isi-product-card
  .information-bundling
  .information-link {
  text-decoration: none;
  color: #000;
  border: 1px solid black;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 50px;
  background-color: #ffffff;
  transition: background-color 0.3 ease;
}
.info-detail-bundling
  .isi-product-card
  .information-bundling
  .information-link:hover {
  text-decoration: none;
  color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  background-color: black;
}
.scroll-up-button,
.scroll-down-button {
  display: block;
  background-color: none;
  border: 1px solid black;
  color: black;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: all 0.3s ease; /* Animasi smooth */
}

.scroll-up-button:hover,
.scroll-down-button:hover {
  background-color: black;
  color: white;
  transform: translateY(-5px); /* Animasi hover naik */
}

.scroll-up-button:active,
.scroll-down-button:active {
  transform: scale(0.95); /* Animasi klik mengecil */
  transition: transform 0.1s ease; /* Kecepatan animasi klik */
}

@media (max-width: 430px) {
  .info-detail-bundling
    .isi-product-card
    .information-bundling
    .information-link {
    font-size: 0.8rem;
  }
  .product-name {
    font-size: 0.8rem;
  }
  .info-detail-bundling .isi-product-card img {
    width: 30%;
  }
}

@media (max-width: 320px) {
  .info-detail-bundling
    .isi-product-card
    .information-bundling
    .information-link {
    font-size: 0.5rem;
  }
  .product-name {
    font-size: 0.5rem;
  }
  .price-info a {
    font-size: 0.6rem;
  }
}
/* From Uiverse.io by Yaya12085 */
.Btn-Facebook {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(150, 138, 80);;
}

/* plus sign */
.sign-Facebook {
  width: 100px;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
/* text */
.text-Facebook {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 10px;
  font-weight: 600;
  transition-duration: 0.3s;
}

/* hover effect on button width */
.Btn-Facebook:hover {
  width: 170px;
  border-radius: 40px;
  transition-duration: 0.3s;
  background-color: rgb(150, 138, 80);;
}

.Btn-Facebook:hover .sign-Facebook {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 10px;
}

/* hover effect button's text */
.Btn-Facebook:hover .text-Facebook {
  opacity: 1;
  width: 80%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

/* button click effect */
.Btn-Facebook:active {
  transform: translate(2px, 2px);
}
.Btn-sharelink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(150, 138, 80);
}

/* plus sign */
.sign-sharelink {
  width: 100px;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
/* text */
.text-sharelink {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 10px;
  font-weight: 600;
  transition-duration: 0.3s;
}

/* hover effect on button width */
.Btn-sharelink:hover {
  width: 120px;
  border-radius: 40px;
  transition-duration: 0.3s;
  background-color: rgb(150, 138, 80);
}

.Btn-sharelink:hover .sign-sharelink {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 10px;
}

/* hover effect button's text */
.Btn-sharelink:hover .text-sharelink {
  opacity: 1;
  width: 80%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

/* button click effect */
.Btn-sharelink:active {
  transform: translate(2px, 2px);
}
.Btn-instagram {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(150, 138, 80);;
}

/* plus sign */
.sign-instagram {
  width: 100px;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}

.sign-instagram svg {
  width: 30px;
}

.sign-instagram svg path {
  fill: white;
}

/* text */
.text-instagram {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 10px;
  font-weight: 600;
  transition-duration: 0.3s;
}

/* hover effect on button width */
.Btn-instagram:hover {
  width: 150px;
  border-radius: 40px;
  transition-duration: 0.3s;
  background-color: rgb(150, 138, 80);;
}

.Btn-instagram:hover .sign-instagram {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 10px;
}

/* hover effect button's text */
.Btn-instagram:hover .text-instagram {
  opacity: 1;
  width: 80%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

/* button click effect */
.Btn-instagram:active {
  transform: translate(2px, 2px);
}
