.dashboardadmin {
  display: flex;
  min-height: 100vh;
  background: rgb(180, 171, 124);
  background: linear-gradient(
    90deg,
    rgba(180, 171, 124, 1) 0%,
    rgba(179, 167, 124, 1) 35%,
    rgba(207, 193, 144, 1) 51%,
    rgba(179, 167, 124, 1) 63%,
    rgba(176, 158, 124, 1) 100%
  );
  
}

.sidebar {
  background-color: #ffffff;
  padding: 0px;
  position: fixed;
  height: 100%;
  width: 300px;
  transition: transform 0.3s ease;
  transform: translateX(0);
  z-index: 1000;
}
.sidebar img {
  width: 50%;
}
.sidebar.closed {
  transform: translateX(-100%);
}
.sidebar-nav {
  margin-top: 2rem;
}
.sidebar-nav .sidebar-item {
  list-style-type: none;
  text-align: left;
  background-color: white;
  margin-top: 0rem;
  padding: 1rem;
  width: 100%;
  transition: background 0.3s ease;
}
.sidebar-nav .sidebar-item:hover {
  background-color: rgba(179, 167, 124, 1);
}
.sidebar .sidebar-link:hover {
  color: white;
}
.sidebar .sidebar-link {
  text-decoration: none;
  color: rgba(179, 167, 124, 1);
  display: block; /* Jadikan <a> block-level element */
  width: calc(
    100% + 30px
  ); /* Buat lebar penuh, tambahkan sedikit ekstra untuk margin/padding */
  margin-left: -30px; /* Sesuaikan margin agar a sejajar dengan sidebar */
  box-sizing: border-box; /* Memastikan padding dan border dihitung dalam lebar */
}

.content {
  flex-grow: 1;
  transition: margin-left 0.3s ease;

  padding: 1rem;
}

.content-open {
  margin-left: 300px;
}

.toggle-btn:hover {
  background-color: rgba(179, 167, 124, 1);
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.toggle-btn {
  position: absolute;
  margin-top: 1rem;
  right: 10px;
  height: 30px;
  width: 30px;
  background: none;
  border: none;
  font-size: 24px;
  color: rgba(179, 167, 124, 1);
  cursor: pointer;
  z-index: 1001;
  text-decoration: none;
  transition: background 0.3s ease;
}

.open-btn:hover {
  background-color: rgb(235, 235, 235);
  color: rgba(179, 167, 124, 1);
  border-radius: 50%;
}
.open-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
  color: rgb(255, 255, 255);
  text-decoration: none;
  height: 30px;
  width: 30px;
  transition: background 0.3s ease;
}

.toggle-btn:focus,
.open-btn:focus {
  outline: none;
}
