/* Navigation bar container */
nav {
  background: transparent;
  width: 70%; /* Ensure the navbar spans the full width */
  margin: 0rem auto;
  padding: 10px 0; /* Add some padding to the top and bottom */
  position: sticky;
  top: 0;
  z-index: 40000;
}

/* Off-canvas customization */
.offcanvas {
  z-index: 50000; /* Ensure it's above other elements */
}

.offcanvas-body {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.offcanvas.show .offcanvas-body {
  visibility: visible;
  opacity: 1;
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

.navbar-brand {
  margin-right: auto; /* Push the brand logo to the left */
}

/* Center the navbar content */
.navbar-collapse {
  display: flex;
  justify-content: center; /* Center the content */
  align-items: center; /* Align items vertically */
  flex-grow: 1;
}

.navbar-nav {
  display: flex; /* Ensure flex layout for the links */
  justify-content: center; /* Center the navbar items */
  align-items: center;
}

.nav-item {
  margin: 0 15px; /* Space between items */
}

.nav-item a {
  font-weight: 400;
  position: relative;
  z-index: 1;
  padding-bottom: 5px;
  transition: font-weight 0.3s;
  color: #000; /* Default link color */
}

.nav-item:hover::after,
.nav-item.active::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-item.active a {
  font-weight: 500;
  color: black;
}

button {
  background: none;
  border: none;
  box-shadow: none;
}

button:hover {
  background: none;
  border: none;
  box-shadow: none;
}
.offcanvas-item {
  list-style-type: none;
  text-align: start;
  margin-top: 0rem;
}

.offcanvas-item {
  margin-left: -1rem;
  /* width: 50%; */ 
  transition: background-color 0.3s ease;
}
.offcanvas-item:hover {
  background-color: rgb(180, 171, 124);
  border-radius: 10px;
  color: #ffcaca;
}